@model IEnumerable<Exam.Models.NutritionEntry>
@{
    ViewData["Title"] = "Nutrition";
}
<h1>@ViewData["Title"]</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Food Group</th>
            <th>Calories (kcal)</th>
            <th>Protein (g)</th>
            <th>Fat (g)</th>
            <th>Carbohydrates (g)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.FoodGroup</td>
                <td>@item.Calories</td>
                <td>@item.Protein</td>
                <td>@item.Fat</td>
                <td>@item.Carbohydrates</td>
            </tr>
        }
    </tbody>
</table>
